# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/

# Playwright
auth/chrome_profile/
playwright-report/

# Test artifacts
reports/*.html
screenshots/*.png
logs/*.log

# Keep folder structure in git even though contents are ignored
!reports/.gitkeep
!screenshots/.gitkeep
!logs/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/

# Env
.env
